<div id="about" class="section p-4">
    <h2>About</h2>

    I am a recent BSc Computer Science graduate seeking an entry
    level role in either Software Development, Web Development or
    DevOps.
    In 2024 I graduated with a First Class with Honours degree from Coventry
    University where I studied a broad range of modules which has provided me
    with a deep understanding of computer systems, computer networks,
    development frameworks and software methodologies.
    I studied as a mature student after deciding to make a career change and
    therefore have over twenty years of work experience in various disciplines
    which I feel will help me to adapt to any challenges I may face in a new role. I
    am a quick learner and enjoy learning new tools and techniques related to
    computer science.
    I currently work at the University of Warwick as a Facilities Assistant, a role
    that I took on whilst completing my degree and have continued with whilst I
    search for my new role. In my spare time I often travel to esports events where
    I work a casual role as a Freelance Esports Admin for various esports
    companies.
    In my previous career I worked as a courier for thirteen years, I began as an
    Owner Driver and progressed until I had my own DPD Driver Franchise where
    in addition to driving I manged up to five other drivers who worked directly for
    me. Before this I worked for Safeway then Asda as a Grocery Assistant, a role
    which I acquired after leaving school

</div>

@code {

}
