<div id="experience" class="section p-4">
    <h2>Experience</h2>

    Facilities Assistant
    University of Warwick, September 2023 - Present
    This role focuses on the sorting and processing of post and parcels for staff and
    students at the university. I am also occasionally required to assist with portering
    jobs which may include moving furniture, equipment or luggage.
    A typical day would involve:
    • Process post and parcels onto the computer system
    • Sort post and parcels by their relevant collection hub
    • Assist in loading delivery vehicles
    • Drive or assist a driver in delivering to collection hubs
    • Process post and parcels onto shelving at each hub
    • Assist staff and student in collections or any queries
    • Audit each hub to ensure each item has been processed correctly
    • Provide a great customer service experience

    Freelance Esports Admin
    Gfinity / Esports Engine / ESL FACEIT GROUP, June 2017 - Present
    In my role as an Esports Admin, I am required to be part of a team that ensures
    that an Esports event runs smoothly, and that rules and regulations are followed
    correctly. This includes both online and Local Area Network (LAN) events.
    Responsibilities include:
    • To have an in-depth knowledge of the tournament’s rulebook
    • Help setup and test PCs, consoles and accessories for players
    • Monitor matches and apply penalties where needed
    • Record the outcome of matches and statistics
    • Apply penalties if any rules are broken
    • Deal with and in-game or on-stage issues
    • Settle any disputes between players or teams
    • Work with event and broadcast staff to ensure the event runs
    smoothly
    • Operate any equipment or handheld devices required for the event

    Owner Driver / Driver Franchisee
    City Link, Interlink Express, DPD Group UK, July 2006 – November 2019
    I was required to transport products that needed urgent delivery. This included
    items of high value such as business or legal contracts, documents, or fragile
    items such as computers and mobile phones. I also had specific services to
    meet such as premium time critical services and customer chosen time slots. I
    would also collect parcels from local businesses to return to the local depot for
    delivery the following day. This role required me to perform independently, using
    my own initiative with minimal input from the local depot and management.
    A typical day would usually see me perform many of the following tasks:
    • Examine vehicles for defects at the start of day
    • Operate the handheld device in the proper manner
    • Plan delivery and collection routes
    • Load and unload items safely onto the vehicle
    • Carry out instructions from the local depot
    • Collect names and signatures from customers when delivering or
    collecting items
    • Attend training and health and safety sessions
    • Operate warehouse equipment in a safe manner
    • Provide a greats customer service experience
    • Create and send invoices

    Grocery Assistant
    Safeway, Asda, June 2001 – July 2006
    Responsibilities included replenishing and tidying stock, as well as using my
    excellent communication skills to advise customers on products and providing
    great customer service


</div>

@code {

}

