<div id="skills" class="section p-4">
    <h2>Skills</h2>

    ICDL
    Advanced Word Processing
    Coventry University, UK
    Pass
    December 2023

    Cisco Network Academy
    CCNA: Switching, Routing, and Wireless
    Essentials
    Coventry University, UK
    Pass
    April 2023

    Cisco Network Academy
    CCNA: Introduction to Networks
    Coventry University, UK
    Pass
    April 2022

</div>

@code {

}