@using NeilTheDev.Components.Sections

<div class= "top-row ps-3 navbar navbar-dark" >
    <div class="container-fluid">
        <div class="profile-container2 text-center py-3">
            <img src="Assets/Images/profile.png" alt="Neil Foskett" class="profile-image rounded-circle" />
        </div>
        <a class="navbar-brand" href="#about">Neil Foskett</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<!-- Profile Image -->
<div class="profile-container text-center py-3">
    <img src="Assets/Images/profile.png" alt="Neil Foskett" class="profile-image rounded-circle" />
    <p class="profile-name mt-2 text-white">Neil Foskett</p>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#about" Match="NavLinkMatch.All">
                <span class="bi bi-person-circle-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#experience" Match="NavLinkMatch.All">
                <span class="bi bi-briefcase-fill-nav-menu" aria-hidden="true"></span> Experience
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#projects" Match="NavLinkMatch.All">
                <span class="bi bi-kanban-fill-nav-menu" aria-hidden="true"></span> Projects
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#education" Match="NavLinkMatch.All">
                <span class="bi bi-mortarboard-fill-nav-menu" aria-hidden="true"></span> Education
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#skills" Match="NavLinkMatch.All">
                <span class="bi bi-stars-nav-menu" aria-hidden="true"></span> Skills
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#interests" Match="NavLinkMatch.All">
                <span class="bi bi-controller-nav-menu" aria-hidden="true"></span> Interests
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#contact" Match="NavLinkMatch.All">
                <span class="bi bi-envelop-at-fill-nav-menu" aria-hidden="true"></span> Contact
            </NavLink>
        </div>

    </nav>
</div>
